<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Promoter</key>
	<dict>
		<key>0</key>
		<array>
			<string>2	1	1</string>
			<string>1	2	1</string>
			<string>1	1	2</string>
		</array>
		<key>1</key>
		<array>
			<string>3	2	2</string>
		</array>
		<key>2</key>
		<array>
			<string>3	4	3</string>
		</array>
		<key>3</key>
		<array>
			<string>4	4	3</string>
		</array>
		<key>4</key>
		<array>
			<string>4	4	4</string>
		</array>
	</dict>
	<key>RBS</key>
	<dict>
		<key>0</key>
		<array>
			<string>1	2	1</string>
			<string>1	1	2</string>
			<string>2	1	1</string>
		</array>
		<key>1</key>
		<array>
			<string>2	3	2</string>
		</array>
		<key>2</key>
		<array>
			<string>4	3	3</string>
		</array>
		<key>3</key>
		<array>
			<string>3	4	4</string>
		</array>
		<key>4</key>
		<array>
			<string>4	4	4</string>
		</array>
	</dict>
	<key>CDS</key>
	<dict>
		<key>0</key>
		<array>
			<string>1	1	2</string>
			<string>2	1	1</string>
			<string>1	2	1</string>
		</array>
		<key>1</key>
		<array>
			<string>2	2	3</string>
		</array>
		<key>2</key>
		<array>
			<string>3	3	4</string>
		</array>
		<key>3</key>
		<array>
			<string>4	3	4</string>
		</array>
		<key>4</key>
		<array>
			<string>4	4	4</string>
		</array>
	</dict>
	<key>Terminator</key>
	<dict>
		<key>0</key>
		<array>
			<string>2	2	1</string>
			<string>2	1	2</string>
			<string>1	2	2</string>
		</array>
		<key>1</key>
		<array>
			<string>3	3	2</string>
		</array>
		<key>2</key>
		<array>
			<string>4	3	3</string>
		</array>
		<key>3</key>
		<array>
			<string>4	4	3</string>
		</array>
		<key>4</key>
		<array>
			<string>4	4	4</string>
		</array>
	</dict>
</dict>
</plist>
