<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GFP family</key>
	<array>
		<string>BBa_K175049</string>
		<string>Bba_I13605</string>
		<string>BBa_S04605</string>
		<string>Bba_ K195612</string>
		<string>BBa_I746908</string>
		<string>Bba_I15015</string>
		<string>Bba_S03335</string>
		<string>Bba_S03476</string>
		<string>Bba_I13604</string>
		<string>Bba_K411235</string>
		<string>Bba_E0432</string>
		<string>BBa_I746907</string>
		<string>Bba_E0430</string>
		<string>Bba_I13522</string>
		<string>Bba_I715040</string>
		<string>BBa_I15017</string>
		<string>BBa_E0030</string>
		<string>Bba_J06702</string>
		<string>Bba_I13521</string>
		<string>Bba_J04430</string>
		<string>BBa_K864100</string>
		<string>BBa_I15016</string>
		<string>Bba_K249000</string>
		<string>Bba_I732097</string>
		<string>Bba_S03473</string>
		<string>Bba_K094130</string>
		<string>BBa_K082003</string>
		<string>Bba_I746324</string>
		<string>Bba_I13600</string>
		<string>Bba_J04650</string>
		<string>Bba_I732077</string>
		<string>Bba_ K193000</string>
		<string>Bba_K117008</string>
		<string>Bba_E0840</string>
		<string>Bba_I732095</string>
		<string>Bba_I763033</string>
		<string>BBa_K082034</string>
		<string>Bba_ K195610</string>
		<string>Bba_E0435</string>
		<string>Bba_K121010</string>
		<string>BBa_K206005</string>
		<string>BBa_K741006</string>
		<string>BBa_J06650</string>
		<string>Bba_I763007</string>
		<string>Bba_I715039</string>
		<string>Bba_I13003</string>
		<string>BBa_E5501</string>
		<string>BBa_I746902</string>
		<string>Bba_I746320</string>
		<string>BBa_J52021</string>
		<string>Bba_I13002</string>
		<string>BBa_K411226</string>
		<string>Bba_I746105</string>
		<string>Bba_E0422</string>
		<string>Bba_I13001</string>
		<string>Bba_J04421</string>
		<string>BBa_K081012</string>
		<string>Bba_ K176017</string>
		<string>Bba_E0420</string>
		<string>Bba_I15018</string>
		<string>BBa_K411225</string>
		<string>Bba_J69501</string>
		<string>BBa_E0020</string>
		<string>BBa_I746909</string>
		<string>Bba_I739009</string>
		<string>Bba_E0240</string>
	</array>
	<key>IPTG</key>
	<array>
		<string>BBa_K086017</string>
	</array>
	<key>LacI</key>
	<array>
		<string>BBa_Q03121</string>
		<string>BBa_Q01121</string>
		<string>BBa_J06801</string>
		<string>BBa_J06800</string>
		<string>BBa_Q04121</string>
	</array>
	<key>LasI/LasR</key>
	<array>
		<string>BBa_R0062</string>
		<string>BBa_K091146</string>
		<string>BBa_R0079</string>
		<string>BBa_I14016</string>
		<string>BBa_I14015</string>
		<string>BBa_R1062</string>
	</array>
	<key>LuxR</key>
	<array>
		<string>BBa_A340620</string>
	</array>
	<key>LuxR repressive promoter</key>
	<array>
		<string>BBa_K091146</string>
		<string>BBa_R0063</string>
		<string>BBa_R0061</string>
	</array>
	<key>Phage (T7)  promoters</key>
	<array>
		<string>BBa_R0085</string>
		<string>BBa_I719005</string>
	</array>
	<key>RFP family</key>
	<array>
		<string>Bba_S03336</string>
		<string>BBa_I715022</string>
		<string>Bba_I13602</string>
		<string>Bba_ K199051</string>
		<string>BBa_K773004</string>
		<string>BBa_E2050</string>
		<string>Bba_K092300</string>
		<string>Bba_J33203</string>
		<string>Bba_ K195615</string>
		<string>Bba_I732096</string>
		<string>BBa_K773003</string>
		<string>BBa_E1010</string>
		<string>Bba_I13504</string>
		<string>Bba_I13501</string>
		<string>Bba_I732094</string>
		<string>BBa_K606013</string>
		<string>BBa_K773001</string>
		<string>BBa_K081014</string>
		<string>Bba_J04630</string>
		<string>BBa_I13503</string>
		<string>BBa_K206004</string>
		<string>Bba_I13401</string>
		<string>Bba_I715039</string>
		<string>Bba_K093005</string>
		<string>BBa_I13502</string>
		<string>Bba_K079050</string>
		<string>Bba_I763011</string>
		<string>BBa_K112306</string>
		<string>Bba_K339014</string>
	</array>
	<key>Resistance gene</key>
	<array>
		<string>BBa_I14034</string>
		<string>BBa_I14033</string>
		<string>BBa_I14018</string>
	</array>
	<key>RhII/RhIR</key>
	<array>
		<string>BBa_J06403</string>
		<string>BBa_I14017</string>
		<string>BBa_R0071</string>
	</array>
	<key>T7 RNAP specific</key>
	<array>
		<string>BBa_B0016</string>
	</array>
	<key>TetR</key>
	<array>
		<string>BBa_Q04400</string>
		<string>BBa_J107030</string>
		<string>BBa_Q03400</string>
		<string>BBa_Q01400</string>
		<string>BBa_K173005</string>
		<string>BBa_K542003</string>
	</array>
	<key>TetR repressive promoter</key>
	<array>
		<string>BBa_I14015</string>
	</array>
	<key>activator</key>
	<array>
		<string>BBa_S04301</string>
		<string>BBa_C0079</string>
		<string>BBa_S04602</string>
		<string>BBa_C0077</string>
		<string>BBa_K118001</string>
		<string>BBa_C0179</string>
		<string>BBa_I732006</string>
		<string>BBa_I1468</string>
		<string>BBa_K118007</string>
		<string>BBa_K266002</string>
	</array>
	<key>artificial terminators</key>
	<array>
		<string>BBa_B1008</string>
		<string>BBa_B1006</string>
		<string>BBa_B1009</string>
		<string>BBa_B1010</string>
		<string>BBa_B1007</string>
		<string>BBa_B1005</string>
		<string>BBa_B1003</string>
	</array>
	<key>bacterial promoters</key>
	<array>
		<string>BBa_R0062</string>
		<string>BBa_K823002</string>
		<string>BBa_K086017</string>
		<string>BBa_I746104</string>
		<string>BBa_K091146</string>
		<string>BBa_K143012</string>
		<string>BBa_R0078</string>
		<string>BBa_K823000</string>
		<string>BBa_J06403</string>
		<string>BBa_R0063</string>
		<string>BBa_R0061</string>
		<string>BBa_R0079</string>
		<string>BBa_I14017</string>
		<string>BBa_I14016</string>
		<string>BBa_I14015</string>
		<string>BBa_R1062</string>
		<string>BBa_K143053</string>
		<string>BBa_R0071</string>
		<string>BBa_K823003</string>
	</array>
	<key>bacterial terminators</key>
	<array>
		<string>BBa_B0017</string>
		<string>BBa_B0015</string>
		<string>BBa_B0011</string>
		<string>BBa_K864600</string>
		<string>BBa_B0021</string>
		<string>BBa_B0016</string>
		<string>BBa_B0014</string>
	</array>
	<key>bidirectional</key>
	<array>
		<string>BBa_B1008</string>
		<string>BBa_B0011</string>
		<string>BBa_B1009</string>
		<string>BBa_B1007</string>
		<string>BBa_B0021</string>
		<string>BBa_B0014</string>
	</array>
	<key>c2 p22</key>
	<array>
		<string>BBa_Q03530</string>
		<string>BBa_Q01530</string>
		<string>BBa_Q04530</string>
	</array>
	<key>cds only</key>
	<array>
		<string>BBa_I732107</string>
		<string>BBa_K748002</string>
		<string>BBa_K118003</string>
		<string>BBa_I732112</string>
		<string>BBa_K118022</string>
		<string>BBa_C0040</string>
		<string>BBa_K777117</string>
		<string>BBa_K808010</string>
		<string>BBa_K909009</string>
		<string>BBa_C0061</string>
		<string>BBa_I732106</string>
		<string>BBa_K118016</string>
		<string>BBa_K118002</string>
		<string>BBa_C0082</string>
		<string>BBa_C0170</string>
		<string>BBa_I715022</string>
		<string>BBa_C0079</string>
		<string>BBa_K907000</string>
		<string>BBa_C0056</string>
		<string>BBa_K112806</string>
		<string>BBa_K909008</string>
		<string>BBa_C0080</string>
		<string>BBa_E0030</string>
		<string>BBa_C2006</string>
		<string>BBa_C0077</string>
		<string>BBa_I732105</string>
		<string>BBa_K863021</string>
		<string>BBa_K864100</string>
		<string>BBa_K118015</string>
		<string>BBa_K592009</string>
		<string>BBa_I716210</string>
		<string>BBa_K118001</string>
		<string>BBa_I732110</string>
		<string>BBa_I11031</string>
		<string>BBa_C0075</string>
		<string>BBa_E2050</string>
		<string>BBa_K082003</string>
		<string>BBa_C0052</string>
		<string>BBa_I746200</string>
		<string>BBa_C0073</string>
		<string>BBa_C0050</string>
		<string>BBa_C0161</string>
		<string>BBa_K118028</string>
		<string>BBa_C0024</string>
		<string>BBa_K118000</string>
		<string>BBa_E1010</string>
		<string>BBa_C0071</string>
		<string>BBa_K117000</string>
		<string>BBa_C0179</string>
		<string>BBa_K849004</string>
		<string>BBa_K629005</string>
		<string>BBa_K864204</string>
		<string>BBa_K118008</string>
		<string>BBa_I732006</string>
		<string>BBa_K777113</string>
		<string>BBa_K849003</string>
		<string>BBa_K079015</string>
		<string>BBa_K864203</string>
		<string>BBa_J22101</string>
		<string>BBa_C0062</string>
		<string>BBa_I715032</string>
		<string>BBa_C0083</string>
		<string>BBa_C0060</string>
		<string>BBa_C0171</string>
		<string>BBa_K629003</string>
		<string>BBa_K864202</string>
		<string>BBa_I732115</string>
		<string>BBa_I732101</string>
		<string>BBa_C0078</string>
		<string>BBa_K525710</string>
		<string>BBa_K145151</string>
		<string>BBa_I15009</string>
		<string>BBa_C0076</string>
		<string>BBa_C0053</string>
		<string>BBa_K863006</string>
		<string>BBa_I15008</string>
		<string>BBa_K863011</string>
		<string>BBa_K864201</string>
		<string>BBa_I716155</string>
		<string>BBa_C0074</string>
		<string>BBa_I732100</string>
		<string>BBa_C0051</string>
		<string>BBa_C0072</string>
		<string>BBa_C0160</string>
		<string>BBa_K849000</string>
		<string>BBa_K863005</string>
		<string>BBa_K118023</string>
		<string>BBa_C0070</string>
		<string>BBa_I11021</string>
		<string>BBa_I742107</string>
		<string>BBa_E0020</string>
		<string>BBa_C0178</string>
		<string>BBa_K082006</string>
		<string>BBa_K808025</string>
		<string>BBa_K592100</string>
		<string>BBa_K190028</string>
		<string>BBa_K137001</string>
		<string>BBa_P1010</string>
	</array>
	<key>cl lam</key>
	<array>
		<string>BBa_Q04511</string>
		<string>BBa_Q04510</string>
		<string>BBa_Q04520</string>
		<string>BBa_Q01511</string>
	</array>
	<key>enzymes</key>
	<array>
		<string>BBa_K118017</string>
		<string>BBa_K748002</string>
		<string>BBa_K118003</string>
		<string>BBa_K118022</string>
		<string>BBa_I732020</string>
		<string>BBa_I742158</string>
		<string>BBa_K145254</string>
		<string>BBa_J24679</string>
		<string>BBa_I742111</string>
		<string>BBa_K808010</string>
		<string>BBa_K082010</string>
		<string>BBa_K346000</string>
		<string>BBa_C0061</string>
		<string>BBa_I751350</string>
		<string>BBa_K118002</string>
		<string>BBa_K130000</string>
		<string>BBa_K606017</string>
		<string>BBa_K325108</string>
		<string>BBa_K325219</string>
		<string>BBa_C0170</string>
		<string>BBa_K112806</string>
		<string>BBa_K116635</string>
		<string>BBa_K863021</string>
		<string>BBa_I716210</string>
		<string>BBa_I11031</string>
		<string>BBa_K118020</string>
		<string>BBa_K325218</string>
		<string>BBa_K081017</string>
		<string>BBa_K346083</string>
		<string>BBa_C0161</string>
		<string>BBa_K118028</string>
		<string>BBa_K863001</string>
		<string>BBa_K863020</string>
		<string>BBa_K902059</string>
		<string>BBa_C0024</string>
		<string>BBa_K118000</string>
		<string>BBa_K325909</string>
		<string>BBa_K082035</string>
		<string>BBa_K117000</string>
		<string>BBa_K517003</string>
		<string>BBa_K523002</string>
		<string>BBa_I718014</string>
		<string>BBa_K081016</string>
		<string>BBa_K849004</string>
		<string>BBa_K081021</string>
		<string>BBa_I751250</string>
		<string>BBa_K864204</string>
		<string>BBa_K118008</string>
		<string>BBa_K863000</string>
		<string>BBa_K082029</string>
		<string>BBa_K193402</string>
		<string>BBa_K517002</string>
		<string>BBa_K523001</string>
		<string>BBa_K081015</string>
		<string>BBa_K849003</string>
		<string>BBa_K274120</string>
		<string>BBa_C0261</string>
		<string>BBa_K081009</string>
		<string>BBa_C0083</string>
		<string>BBa_C0060</string>
		<string>BBa_I732018</string>
		<string>BBa_K567015</string>
		<string>BBa_K118006</string>
		<string>BBa_I742109</string>
		<string>BBa_C0078</string>
		<string>BBa_K525710</string>
		<string>BBa_K325209</string>
		<string>BBa_K329005</string>
		<string>BBa_I15009</string>
		<string>BBa_I718011</string>
		<string>BBa_C0076</string>
		<string>BBa_K863006</string>
		<string>BBa_K118019</string>
		<string>BBa_I732017</string>
		<string>BBa_I722005</string>
		<string>BBa_I15008</string>
		<string>BBa_K863011</string>
		<string>BBa_I716155</string>
		<string>BBa_K118005</string>
		<string>BBa_K116638</string>
		<string>BBa_C0160</string>
		<string>BBa_K863005</string>
		<string>BBa_K118018</string>
		<string>BBa_K863010</string>
		<string>BBa_K118023</string>
		<string>BBa_C0070</string>
		<string>BBa_I742107</string>
		<string>BBa_C0178</string>
		<string>BBa_K325259</string>
		<string>BBa_K808025</string>
		<string>BBa_K082030</string>
	</array>
	<key>forward</key>
	<array>
		<string>BBa_B1006</string>
		<string>BBa_B0017</string>
		<string>BBa_B0015</string>
		<string>BBa_B0013</string>
		<string>BBa_K864600</string>
		<string>BBa_B1010</string>
		<string>BBa_B1005</string>
		<string>BBa_B0016</string>
		<string>BBa_B1003</string>
		<string>BBa_B0012</string>
	</array>
	<key>fusion protein</key>
	<array>
		<string>BBa_K294055</string>
		<string>BBa_J52011</string>
		<string>BBa_J52021</string>
		<string>BBa_C2001</string>
	</array>
	<key>lambda cI repressive promoter</key>
	<array>
		<string>BBa_I14016</string>
	</array>
	<key>medium promoters</key>
	<array>
		<string>BBa_K823002</string>
		<string>BBa_I14034</string>
		<string>BBa_I14033</string>
		<string>BBa_I14018</string>
		<string>BBa_J23106</string>
		<string>BBa_J23150</string>
		<string>BBa_K823003</string>
	</array>
	<key>metal ion</key>
	<array/>
	<key>multiple products</key>
	<array>
		<string>Bba_I13605</string>
		<string>BBa_S04605</string>
		<string>Bba_I15015</string>
		<string>BBa_K325903</string>
		<string>Bba_I13604</string>
		<string>BBa_K325219</string>
		<string>Bba_J06702</string>
		<string>BBa_K118020</string>
		<string>BBa_K325909</string>
		<string>Bba_I732095</string>
		<string>BBa_K274120</string>
		<string>Bba_I13501</string>
		<string>Bba_I732094</string>
		<string>Bba_I715039</string>
		<string>BBa_K325209</string>
		<string>BBa_I722005</string>
		<string>BBa_K325259</string>
	</array>
	<key>multiple regulators</key>
	<array>
		<string>BBa_K081019</string>
		<string>BBa_C0080</string>
		<string>BBa_C0071</string>
		<string>BBa_K082020</string>
		<string>BBa_K081020</string>
		<string>BBa_C0062</string>
		<string>BBa_C0171</string>
		<string>BBa_I0462</string>
		<string>Bba_T9003</string>
		<string>BBa_K081011</string>
		<string>Bba_K411236</string>
	</array>
	<key>multiple signal</key>
	<array>
		<string>BBa_K750009</string>
		<string>BBa_I13207</string>
		<string>BBa_K750012</string>
		<string>BBa_K137019</string>
		<string>BBa_K750010</string>
	</array>
	<key>negative signal</key>
	<array>
		<string>BBa_I746008</string>
		<string>BBa_J06201</string>
		<string>BBa_I13018</string>
		<string>BBa_K750000</string>
		<string>BBa_J24007</string>
		<string>BBa_K750103</string>
		<string>BBa_I13202</string>
		<string>BBa_J06001</string>
		<string>BBa_K084008</string>
		<string>BBa_I13261</string>
		<string>BBa_K084007</string>
		<string>BBa_K084012</string>
		<string>BBa_I731017</string>
		<string>BBa_K123004</string>
	</array>
	<key>other experience</key>
	<array/>
	<key>other inducible promoters</key>
	<array>
		<string>BBa_I746104</string>
		<string>BBa_R0078</string>
	</array>
	<key>other product</key>
	<array>
		<string>BBa_K777117</string>
		<string>BBa_K325903</string>
		<string>BBa_K909009</string>
		<string>BBa_K118016</string>
		<string>BBa_C0082</string>
		<string>BBa_K907000</string>
		<string>BBa_K909008</string>
		<string>BBa_C2006</string>
		<string>BBa_K118015</string>
		<string>BBa_I746200</string>
		<string>BBa_K629005</string>
		<string>BBa_K777113</string>
		<string>BBa_K079015</string>
		<string>BBa_J22101</string>
		<string>BBa_K629003</string>
		<string>BBa_K145151</string>
		<string>BBa_K864201</string>
		<string>BBa_K849000</string>
		<string>BBa_I11021</string>
		<string>BBa_K082006</string>
		<string>BBa_K395602</string>
		<string>BBa_K190028</string>
		<string>BBa_K137001</string>
		<string>BBa_P1010</string>
	</array>
	<key>other reporter</key>
	<array>
		<string>BBa_K592009</string>
		<string>BBa_K118020</string>
		<string>BBa_J52011</string>
		<string>BBa_K592100</string>
	</array>
	<key>other repressive promoter</key>
	<array/>
	<key>phage terminators</key>
	<array>
		<string>BBa_B0013</string>
		<string>BBa_B0023</string>
		<string>BBa_B0012</string>
	</array>
	<key>positive signal</key>
	<array>
		<string>BBa_F2622</string>
		<string>BBa_F2620</string>
		<string>BBa_K574005</string>
		<string>BBa_K546000</string>
		<string>BBa_K574004</string>
		<string>BBa_I746103</string>
		<string>BBa_T9002</string>
		<string>BBa_F2621</string>
		<string>BBa_I13263</string>
		<string>BBa_K137018</string>
		<string>BBa_I13262</string>
		<string>BBa_K766001</string>
		<string>BBa_J23040</string>
		<string>BBa_J24018</string>
		<string>BBa_K546003</string>
		<string>BBa_I746107</string>
		<string>BBa_I13272</string>
		<string>BBa_I13211</string>
	</array>
	<key>protein generator</key>
	<array>
		<string>BBa_I732020</string>
		<string>BBa_P0153</string>
		<string>BBa_K081019</string>
		<string>BBa_P0440</string>
		<string>Bba_S03476</string>
		<string>Bba_E0432</string>
		<string>BBa_P0151</string>
		<string>BBa_K228814</string>
		<string>BBa_P0412</string>
		<string>Bba_E0430</string>
		<string>Bba_ K199051</string>
		<string>BBa_K228813</string>
		<string>BBa_K082022</string>
		<string>BBa_P0140</string>
		<string>Bba_I732096</string>
		<string>Bba_I13504</string>
		<string>BBa_K081016</string>
		<string>Bba_E0840</string>
		<string>BBa_K081021</string>
		<string>BBa_I1468</string>
		<string>BBa_I746101</string>
		<string>BBa_K081015</string>
		<string>BBa_P0353</string>
		<string>BBa_K228238</string>
		<string>BBa_K176006</string>
		<string>BBa_P0152</string>
		<string>BBa_K741006</string>
		<string>BBa_K606013</string>
		<string>BBa_K081014</string>
		<string>BBa_K195603</string>
		<string>Bba_I13003</string>
		<string>BBa_P0453</string>
		<string>Bba_I13002</string>
		<string>BBa_K411226</string>
		<string>Bba_K079050</string>
		<string>BBa_K228241</string>
		<string>Bba_E0422</string>
		<string>BBa_P0340</string>
		<string>Bba_I13001</string>
		<string>BBa_P0451</string>
		<string>BBa_I746001</string>
		<string>BBa_K081012</string>
		<string>Bba_E0420</string>
		<string>BBa_I0462</string>
		<string>Bba_I15018</string>
		<string>BBa_K411225</string>
		<string>BBa_P0312</string>
		<string>Bba_E0240</string>
	</array>
	<key>rbs</key>
	<array>
		<string>BBa_B0031</string>
		<string>BBa_B0034</string>
		<string>BBa_B0032</string>
		<string>BBa_B0030</string>
		<string>BBa_B0033</string>
	</array>
	<key>repressor</key>
	<array>
		<string>BBa_I732107</string>
		<string>BBa_I732112</string>
		<string>BBa_I763005</string>
		<string>BBa_C0040</string>
		<string>BBa_P0153</string>
		<string>BBa_P0440</string>
		<string>BBa_K081010</string>
		<string>BBa_P0151</string>
		<string>BBa_I732106</string>
		<string>BBa_K228809</string>
		<string>BBa_I732085</string>
		<string>BBa_K228814</string>
		<string>BBa_P0412</string>
		<string>BBa_K145201</string>
		<string>BBa_S04603</string>
		<string>BBa_C0056</string>
		<string>BBa_K081018</string>
		<string>BBa_I732105</string>
		<string>BBa_I732110</string>
		<string>BBa_K228813</string>
		<string>BBa_C0075</string>
		<string>BBa_C0052</string>
		<string>BBa_K082022</string>
		<string>BBa_C0073</string>
		<string>BBa_C0050</string>
		<string>BBa_P0140</string>
		<string>BBa_I13458</string>
		<string>BBa_I732082</string>
		<string>BBa_P0353</string>
		<string>BBa_K864203</string>
		<string>BBa_K228238</string>
		<string>BBa_K176006</string>
		<string>BBa_P0152</string>
		<string>BBa_K082009</string>
		<string>BBa_I732081</string>
		<string>BBa_I715032</string>
		<string>BBa_K088000</string>
		<string>BBa_K195603</string>
		<string>BBa_K864202</string>
		<string>BBa_I732115</string>
		<string>BBa_I732101</string>
		<string>BBa_C0053</string>
		<string>BBa_P0453</string>
		<string>BBa_I722005</string>
		<string>BBa_C0074</string>
		<string>BBa_I732100</string>
		<string>BBa_C0051</string>
		<string>BBa_K228803</string>
		<string>BBa_K228241</string>
		<string>BBa_P0340</string>
		<string>BBa_P0451</string>
		<string>BBa_J33201</string>
		<string>BBa_C2001</string>
		<string>BBa_C0072</string>
		<string>BBa_I14044</string>
		<string>BBa_I732087</string>
		<string>BBa_P0312</string>
	</array>
	<key>reverse</key>
	<array>
		<string>BBa_B0023</string>
	</array>
	<key>robust device</key>
	<array>
		<string>Bba_S03336</string>
		<string>BBa_K175049</string>
		<string>Bba_I13605</string>
		<string>BBa_K145254</string>
		<string>Bba_ K195612</string>
		<string>BBa_I746908</string>
		<string>Bba_S03335</string>
		<string>BBa_K116636</string>
		<string>BBa_I751350</string>
		<string>Bba_K411235</string>
		<string>BBa_I732085</string>
		<string>BBa_K145201</string>
		<string>BBa_I746907</string>
		<string>Bba_I13522</string>
		<string>BBa_K081018</string>
		<string>BBa_K116635</string>
		<string>Bba_I13602</string>
		<string>BBa_K116640</string>
		<string>Bba_I13521</string>
		<string>Bba_J04430</string>
		<string>Bba_K249000</string>
		<string>Bba_I732097</string>
		<string>Bba_S03473</string>
		<string>Bba_K094130</string>
		<string>Bba_I746324</string>
		<string>Bba_K092300</string>
		<string>Bba_I13600</string>
		<string>Bba_J04650</string>
		<string>Bba_ K193000</string>
		<string>Bba_K117008</string>
		<string>BBa_K082035</string>
		<string>BBa_I751250</string>
		<string>BBa_K082029</string>
		<string>BBa_K082034</string>
		<string>Bba_ K195610</string>
		<string>BBa_K082020</string>
		<string>Bba_K121010</string>
		<string>BBa_K206005</string>
		<string>BBa_K206004</string>
		<string>BBa_J06650</string>
		<string>Bba_I763007</string>
		<string>BBa_I746902</string>
		<string>Bba_I746320</string>
		<string>Bba_I763011</string>
		<string>Bba_J04421</string>
		<string>BBa_K112306</string>
		<string>BBa_K116638</string>
		<string>Bba_ K176017</string>
		<string>BBa_I732087</string>
		<string>Bba_J69501</string>
		<string>BBa_I746909</string>
		<string>BBa_K395602</string>
		<string>Bba_I739009</string>
		<string>BBa_K082030</string>
		<string>Bba_K339014</string>
		<string>Bba_T9003</string>
		<string>Bba_K411236</string>
	</array>
	<key>selection marker</key>
	<array>
		<string>BBa_P1005</string>
		<string>BBa_P1004</string>
	</array>
	<key>sender only</key>
	<array>
		<string>BBa_F1610</string>
		<string>BBa_K092000</string>
		<string>BBa_I1466</string>
		<string>BBa_I0466</string>
		<string>BBa_K091167</string>
	</array>
	<key>strong promoters</key>
	<array>
		<string>BBa_J23101</string>
		<string>BBa_R0085</string>
		<string>BBa_J23100</string>
		<string>BBa_K143012</string>
		<string>BBa_K299504</string>
		<string>BBa_K143053</string>
		<string>BBa_J23119</string>
		<string>BBa_I719005</string>
		<string>BBa_J23118</string>
		<string>BBa_J23102</string>
	</array>
	<key>tRNA</key>
	<array>
		<string>BBa_K567016</string>
		<string>BBa_K567013</string>
	</array>
	<key>transcriptional units</key>
	<array>
		<string>BBa_K118017</string>
		<string>BBa_I742158</string>
		<string>BBa_J24679</string>
		<string>BBa_I742111</string>
		<string>BBa_K082010</string>
		<string>BBa_K346000</string>
		<string>BBa_K953002</string>
		<string>BBa_K516011</string>
		<string>BBa_K228809</string>
		<string>BBa_K130000</string>
		<string>BBa_K606017</string>
		<string>BBa_S04603</string>
		<string>BBa_K517005</string>
		<string>BBa_I15017</string>
		<string>BBa_S04602</string>
		<string>BBa_I15016</string>
		<string>BBa_K773004</string>
		<string>BBa_K081017</string>
		<string>BBa_K346083</string>
		<string>Bba_J33203</string>
		<string>BBa_I9026</string>
		<string>BBa_K902059</string>
		<string>BBa_K773003</string>
		<string>BBa_K517003</string>
		<string>BBa_K523002</string>
		<string>BBa_I718014</string>
		<string>BBa_K193402</string>
		<string>BBa_K538104</string>
		<string>BBa_K517002</string>
		<string>BBa_K523001</string>
		<string>BBa_K081020</string>
		<string>BBa_K567016</string>
		<string>BBa_K118007</string>
		<string>BBa_C0261</string>
		<string>BBa_K082009</string>
		<string>BBa_I732081</string>
		<string>BBa_K773001</string>
		<string>BBa_K088000</string>
		<string>BBa_K081009</string>
		<string>BBa_K346004</string>
		<string>BBa_I732018</string>
		<string>BBa_K567015</string>
		<string>BBa_I13503</string>
		<string>BBa_K118006</string>
		<string>BBa_I742109</string>
		<string>BBa_K329005</string>
		<string>BBa_I13502</string>
		<string>BBa_K081008</string>
		<string>BBa_E5501</string>
		<string>BBa_I718011</string>
		<string>BBa_K314110</string>
		<string>BBa_I732017</string>
		<string>BBa_K118005</string>
		<string>BBa_K228803</string>
		<string>BBa_K538101</string>
		<string>BBa_K081007</string>
		<string>BBa_K112011</string>
		<string>BBa_I14044</string>
		<string>BBa_K118018</string>
		<string>BBa_K567013</string>
		<string>BBa_K118004</string>
	</array>
	<key>weak promoters</key>
	<array>
		<string>BBa_J23117</string>
		<string>BBa_J23114</string>
		<string>BBa_J23113</string>
		<string>BBa_K823000</string>
		<string>BBa_J23112</string>
		<string>BBa_J23103</string>
	</array>
</dict>
</plist>
