<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objects</key>
	<array>
		<dict>
			<key>name</key>
			<string>promoters</string>
			<key>level</key>
			<string>1</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>constitutive</string>
					<key>level</key>
					<string>2</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>strong promoters</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>medium promoters</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>weak promoters</string>
							<key>level</key>
							<string>3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>sensitive</string>
					<key>level</key>
					<string>2</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>by inducer</string>
							<key>level</key>
							<string>3</string>
							<key>Objects</key>
							<array>
								<dict>
									<key>name</key>
									<string>IPTG</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>LasI/LasR</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>RhII/RhIR</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>metal ion</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>other inducible promoters</string>
									<key>level</key>
									<string>4</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>by repressor</string>
							<key>level</key>
							<string>3</string>
							<key>Objects</key>
							<array>
								<dict>
									<key>name</key>
									<string>TetR repressive promoter</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>LuxR repressive promoter</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>lambda cI repressive promoter</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>other repressive promoter</string>
									<key>level</key>
									<string>4</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>association with cds experience</string>
					<key>level</key>
					<string>2</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>Resistance gene</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>other experience</string>
							<key>level</key>
							<string>3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>source</string>
					<key>level</key>
					<string>2</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>bacterial promoters</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Phage (T7)  promoters</string>
							<key>level</key>
							<string>3</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>coding</string>
			<key>level</key>
			<string>1</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>by products</string>
					<key>level</key>
					<string>2</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>reporter</string>
							<key>level</key>
							<string>3</string>
							<key>Objects</key>
							<array>
								<dict>
									<key>name</key>
									<string>GFP family</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>RFP family</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>other reporter</string>
									<key>level</key>
									<string>4</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>transcriptional regulators</string>
							<key>level</key>
							<string>3</string>
							<key>Objects</key>
							<array>
								<dict>
									<key>name</key>
									<string>activator</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>repressor</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>multiple regulators</string>
									<key>level</key>
									<string>4</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>other</string>
							<key>level</key>
							<string>3</string>
							<key>Objects</key>
							<array>
								<dict>
									<key>name</key>
									<string>selection marker</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>enzymes</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>tRNA</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>other product</string>
									<key>level</key>
									<string>4</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>by structure</string>
					<key>level</key>
					<string>2</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>fusion protein</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>robust device</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>multiple products</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>transcriptional units</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>protein generator</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>cds only</string>
							<key>level</key>
							<string>3</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>rbs</string>
			<key>level</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>terminators</string>
			<key>level</key>
			<string>1</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>direction</string>
					<key>level</key>
					<string>2</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>forward</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>reverse</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>bidirectional</string>
							<key>level</key>
							<string>3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>RNAP specific</string>
					<key>level</key>
					<string>2</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>T7 RNAP specific</string>
							<key>level</key>
							<string>3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>source</string>
					<key>level</key>
					<string>2</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>bacterial terminators</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>phage terminators</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>artificial terminators</string>
							<key>level</key>
							<string>3</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>device</string>
			<key>level</key>
			<string>1</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>inverter</string>
					<key>level</key>
					<string>2</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>product/promoter</string>
							<key>level</key>
							<string>3</string>
							<key>Objects</key>
							<array>
								<dict>
									<key>name</key>
									<string>TetR</string>
									<key>level</key>
									<string>4</string>
								</dict>
								<dict>
									<key>name</key>
									<string>LacI</string>
									<key>level</key>
									<string>3</string>
								</dict>
								<dict>
									<key>name</key>
									<string>cl lam</string>
									<key>level</key>
									<string>3</string>
								</dict>
								<dict>
									<key>name</key>
									<string>LuxR</string>
									<key>level</key>
									<string>3</string>
								</dict>
								<dict>
									<key>name</key>
									<string>c2 p22</string>
									<key>level</key>
									<string>3</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>signaling</string>
					<key>level</key>
					<string>2</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>sender only</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>positive signal</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>negative signal</string>
							<key>level</key>
							<string>3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>multiple signal</string>
							<key>level</key>
							<string>3</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
